In [11]:
from urllib.request import urlopen
from eventlet import GreenPool
import os
import pandas as pd
import regex
import eventlet
from sklearn import model_selection
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [14]:
book_files={
 "Mickiewicz": [
 "http://wolnelektury.pl/media/book/txt/pan-tadeusz.txt",
 "http://wolnelektury.pl/media/book/txt/dziady-dziady-widowisko-czesc-i.txt",
 "http://wolnelektury.pl/media/book/txt/dziady-dziadow-czesci-iii-ustep-do-przyjaciol-moskali.txt",
 "http://wolnelektury.pl/media/book/txt/ballady-i-romanse-pani-twardowska.txt",
 "http://wolnelektury.pl/media/book/txt/ballady-i-romanse-powrot-taty.txt",
 "http://wolnelektury.pl/media/book/txt/ballady-i-romanse-switez.txt",
 "http://wolnelektury.pl/media/book/txt/dziady-dziady-poema-dziady-czesc-iv.txt",
 ],
 "Sienkiewicz": [
 "http://wolnelektury.pl/media/book/txt/quo-vadis.txt",
 "http://wolnelektury.pl/media/book/txt/sienkiewicz-we-mgle.txt",
 "http://wolnelektury.pl/media/book/txt/potop-tom-pierwszy.txt",
 "http://wolnelektury.pl/media/book/txt/potop-tom-drugi.txt",
 "http://wolnelektury.pl/media/book/txt/potop-tom-trzeci.txt",
 ],
 "Orzeszkowa": [
 "http://wolnelektury.pl/media/book/txt/orzeszkowa-kto-winien.txt",
 "http://wolnelektury.pl/media/book/txt/nad-niemnem-tom-pierwszy.txt",
 "http://wolnelektury.pl/media/book/txt/nad-niemnem-tom-drugi.txt",
 "http://wolnelektury.pl/media/book/txt/nad-niemnem-tom-trzeci.txt",
 "http://wolnelektury.pl/media/book/txt/gloria-victis-dziwna-historia.txt",
 "http://wolnelektury.pl/media/book/txt/z-pozogi.txt",
 "http://wolnelektury.pl/media/book/txt/pani-dudkowa.txt",
 "http://wolnelektury.pl/media/book/txt/dymy.txt",
 "http://wolnelektury.pl/media/book/txt/syn-stolarza.txt",
 "http://wolnelektury.pl/media/book/txt/dobra-pani.txt",
 "http://wolnelektury.pl/media/book/txt/cnotliwi.txt",
 "http://wolnelektury.pl/media/book/txt/kilka-slow-o-kobietach.txt",
 "http://wolnelektury.pl/media/book/txt/patryotyzm-i-kosmopolityzm.txt",
 "http://wolnelektury.pl/media/book/txt/julianka.txt",
 ],
 "Prus": [
 "http://wolnelektury.pl/media/book/txt/lalka-tom-drugi.txt",
 "http://wolnelektury.pl/media/book/txt/lalka-tom-pierwszy.txt",
 "http://wolnelektury.pl/media/book/txt/antek.txt",
 "http://wolnelektury.pl/media/book/txt/katarynka.txt",
 "http://wolnelektury.pl/media/book/txt/prus-anielka.txt",
 "http://wolnelektury.pl/media/book/txt/prus-placowka.txt",
 
 ],
 "Reymont": [
 "http://wolnelektury.pl/media/book/txt/ziemia-obiecana-tom-pierwszy.txt",
 "http://wolnelektury.pl/media/book/txt/chlopi-czesc-pierwsza-jesien.txt",
 "http://wolnelektury.pl/media/book/txt/reymont-chlopi-zima.txt",
 "http://wolnelektury.pl/media/book/txt/chlopi-czesc-trzecia-wiosna.txt",
 "http://wolnelektury.pl/media/book/txt/chlopi-czesc-czwarta-lato.txt",
 ]
}

In [17]:
def fetch(url):
    file_path = os.path.join("./data/",os.path.basename(url))
    if os.path.exists(file_path):
        return None, None
    data = urlopen(url).read()
    return file_path, data

os.mkdir('data')

for author in book_files:
    pool = GreenPool()
    for file_path, data in pool.imap(fetch, book_files[author]):
        if file_path:
            with open(file_path, mode="wb") as f:
                f.write(data)
print ("Downloaded")

FileExistsError: [Errno 17] File exists: 'data'

In [18]:
def preprocess_file(file_path=None, file_url=None):
    if not file_path and file_url:
        file_path = os.path.join("data",os.path.basename(file_url))
        
    text = open(file_path,'rb').read().decode("utf-8").lower()

    text = regex.sub(u"[^ \n\p{Latin}\-'.?!]", " ",text)
    text = regex.sub(u"[ \n]+", " ", text)
    text = regex.sub(r"----- ta lektura.*","", text)

    return [regex.sub(r"^ ","",l) for l in regex.split('\.|,|\?|!|:',text)]


def get_book_df(document, author):
    return pd.DataFrame({
        'author': pd.Series(len(document)*[author]),
        'txt': pd.Series(document),
    })
    
book_lines_df = pd.concat([
    get_book_df(preprocess_file(file_url=url),author=author) 
        for author in book_files for url in book_files[author] 
])

book_lines_df.head()

       author                                                txt
0  Mickiewicz  adam mickiewicz pan tadeusz czyli ostatni zaja...
1  Mickiewicz                                      ojczyzno moja
2  Mickiewicz  ty jesteś jak zdrowie ile cię trzeba cenić ten...
3  Mickiewicz  dziś piękność twą w całej ozdobie widzę i opis...
4  Mickiewicz  panno święta co jasnej bronisz częstochowy i w...

In [19]:
book_lines_df.groupby('author').count()

               txt
author
Mickiewicz    5093
Orzeszkowa   22177
Prus         31033
Reymont      24107
Sienkiewicz  40381

In [20]:
book_lines_df['words'] = book_lines_df['txt'].apply(lambda row: len(row.split()))
book_lines_df.groupby('author')['words'].describe()

               count       mean        std  min  25%   50%   75%    max
author
Mickiewicz    5093.0  16.103868  13.951437  0.0  6.0  13.0  23.0  145.0
Orzeszkowa   22177.0  19.400821  17.257917  0.0  6.0  15.0  27.0  219.0
Prus         31033.0  12.131537  10.041450  0.0  5.0  10.0  17.0  133.0
Reymont      24107.0  16.359398  18.880965  0.0  5.0  10.0  21.0  316.0
Sienkiewicz  40381.0  13.705579  12.038426  0.0  5.0  10.0  19.0  146.0

In [21]:
book_lines_df.groupby('author')['words'].quantile(0.98)

author
Mickiewicz     54.0
Orzeszkowa     67.0
Prus           39.0
Reymont        72.0
Sienkiewicz    47.0
Name: words, dtype: float64

In [22]:
train_df, test_df = model_selection.train_test_split(book_lines_df, test_size=0.1, stratify=book_lines_df['author'])

In [23]:
vect = CountVectorizer()
vect.fit(train_df['txt'])
sample_sentence = train_df.iloc[2]['txt']
vect.transform([sample_sentence])

<1x131454 sparse matrix of type '<class 'numpy.int64'>'
	with 24 stored elements in Compressed Sparse Row format>

In [26]:
X_train = vect.transform(train_df['txt'])
X_test=vect.transform(test_df['txt'])
model = LogisticRegression(class_weight='balanced', dual=True)
model.fit(X_train, train_df['author'])

LogisticRegression(C=1.0, class_weight='balanced', dual=True,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
model.score(X_test, test_df['author'])

0.7605048859934853

In [28]:
target = test_df['author']
predicted = model.predict(X_test)
print(metrics.classification_report(target, predicted))

              precision    recall  f1-score   support

  Mickiewicz       0.63      0.57      0.60       509
  Orzeszkowa       0.74      0.72      0.73      2218
        Prus       0.74      0.73      0.73      3104
     Reymont       0.76      0.75      0.76      2411
 Sienkiewicz       0.80      0.83      0.82      4038

    accuracy                           0.76     12280
   macro avg       0.73      0.72      0.73     12280
weighted avg       0.76      0.76      0.76     12280